pip install --upgrade pip
pip install -r requirements.txt
aiogram==2.25.1
aiohttp==3.13.3
phonenumbers
beautifulsoup4
fake-useragent
faker
pystyle
pyfiglet
colorama
tqdm
termcolor
requests
urllib3
qrcode
pillow
telethon
cryptography
wheel
setuptools
cython
